In [31]:
## libraries
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

import numpy as np
import pandas as pd

from pyspark import SparkContext
from pyspark.sql import SparkSession

from pyspark.sql.functions import col, trim, first ,when,to_timestamp,udf, from_unixtime,regexp_replace,date_format,substring

from pyspark.sql.types import ArrayType, IntegerType,DoubleType
import io
import matplotlib.pyplot as plt

# Suppress warning messages
import warnings
warnings.filterwarnings("ignore")

In [2]:
spark = SparkSession.builder.master("local").config("spark.driver.memory", "15g").appName("CsvReader").getOrCreate()

In [3]:
## read csv 
twitter_data = spark.read.format("csv").load("file:///home/hduser/Desktop/CA2_TweetAnalysis/ProjectTweets.csv")

In [4]:
twitter_data.show(10)

+---+----------+--------------------+--------+---------------+--------------------+
|_c0|       _c1|                 _c2|     _c3|            _c4|                 _c5|
+---+----------+--------------------+--------+---------------+--------------------+
|  0|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|  1|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|  2|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|  3|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|  4|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
|  5|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|  6|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |
|  7|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|  8|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|  9|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|
+---+----------+--------------------+--------+---------------+--------------------+
only showing top 10 rows

In [5]:
print(twitter_data.columns)

['_c0', '_c1', '_c2', '_c3', '_c4', '_c5']

In [6]:
# Rename columns
twitter_data = twitter_data.selectExpr("_c1 as id", "_c2 as date", "_c3 as flag", "_c4 as user", "_c5 as text")

In [7]:
twitter_data.show(10)

+----------+--------------------+--------+---------------+--------------------+
|        id|                date|    flag|           user|                text|
+----------+--------------------+--------+---------------+--------------------+
|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |
|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|
+----------+--------------------+--------+---------------+--------------------+
only showing top 10 rows

In [8]:
twitter_data.count()

1600000

In [9]:
#check tweet and date format
first_row = twitter_data.first()
print(first_row['text'])

print(first_row['date'])

@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
Mon Apr 06 22:19:45 PDT 2009

In [10]:
# Use regexp_replace to remove PDT from the date_string
twitter_data = twitter_data.withColumn("date", regexp_replace(twitter_data["date"], " PDT", ""))

first_row=twitter_data.first()
print(first_row['text'])

print(first_row['date'])

@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
Mon Apr 06 22:19:45 2009

In [11]:
!pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in /home/hduser/.local/lib/python3.10/site-packages (4.6.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /home/hduser/.local/lib/python3.10/site-packages (from pymongo) (2.4.2)

## Mongo DB

In [12]:
##mongodb connection
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["twitter_data"]
collection = db["tweets"]

In [13]:
#insert data to mongodb 
rows = twitter_data.collect()
data_list = [row.asDict() for row in rows]

#insert
for data in data_list:
    collection.insert_one(data)

In [14]:
#read data from mongodb
# Retrieve the data from the MongoDB collection
mongo_data = list(collection.find().limit(5))
mongo_data

[{'_id': ObjectId('654aaba9cba3cae74a0100a9'),
  'id': '1467810369',
  'date': 'Mon Apr 06 22:19:45 PDT 2009',
  'flag': 'NO_QUERY',
  'user': '_TheSpecialOne_',
  'text': "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"},
 {'_id': ObjectId('654aabaacba3cae74a0100aa'),
  'id': '1467810672',
  'date': 'Mon Apr 06 22:19:49 PDT 2009',
  'flag': 'NO_QUERY',
  'user': 'scotthamilton',
  'text': "is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"},
 {'_id': ObjectId('654aabaacba3cae74a0100ab'),
  'id': '1467810917',
  'date': 'Mon Apr 06 22:19:53 PDT 2009',
  'flag': 'NO_QUERY',
  'user': 'mattycus',
  'text': '@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'},
 {'_id': ObjectId('654aabaacba3cae74a0100ac'),
  'id': '1467811184',
  'date': 'Mon Apr 06 22:19:57 PDT 2009',
  'flag': 'NO_QUERY',
  'user': 'ElleCTF',
  'text': 'my whole body feels itchy and like its on fire '},
 {'_id': ObjectId('654aabaacba3cae74a0100ad'),
  'id': '1467811193',
  'date': 'Mon Apr 06 22:19:57 PDT 2009',
  'flag': 'NO_QUERY',
  'user': 'Karoli',
  'text': "@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there. "}]

## Spark SQL

In [15]:
## spark sql
twitter_data.createOrReplaceTempView("twitter_data")
result = spark.sql("SELECT * FROM twitter_data")
result.show()

+----------+--------------------+--------+---------------+--------------------+
|        id|                date|    flag|           user|                text|
+----------+--------------------+--------+---------------+--------------------+
|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |
|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|
|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|
|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|
|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|
|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|
|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|
|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|
|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|
|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |
|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|
|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|
+----------+--------------------+--------+---------------+--------------------+
only showing top 20 rows

In [16]:
result.count()

1600000

In [24]:
df=result
df = df.withColumn("timestamp", to_timestamp(df["date"], "yyyy-MM-dd HH:mm:ss"))
# Show the DataFrame
df.show()

+----------+--------------------+--------+---------------+--------------------+---------+
|        id|                date|    flag|           user|                text|timestamp|
+----------+--------------------+--------+---------------+--------------------+---------+
|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|     null|
|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|     null|
|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|     null|
|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|     null|
|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|     null|
|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|     null|
|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |     null|
|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|     null|
|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|     null|
|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|     null|
|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|     null|
|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|     null|
|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|     null|
|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|     null|
|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|     null|
|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|     null|
|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|     null|
|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |     null|
|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|     null|
|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|     null|
+----------+--------------------+--------+---------------+--------------------+---------+
only showing top 20 rows

In [27]:

df = df.withColumn("new_date", substring(col("date"), 5,25))
df.show()

+----------+--------------------+--------+---------------+--------------------+---------+--------------------+
|        id|                date|    flag|           user|                text|timestamp|            new_date|
+----------+--------------------+--------+---------------+--------------------+---------+--------------------+
|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|     null|Apr 06 22:19:45 2009|
|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|     null|Apr 06 22:19:49 2009|
|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|     null|Apr 06 22:19:53 2009|
|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|     null|Apr 06 22:19:57 2009|
|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|     null|Apr 06 22:19:57 2009|
|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|     null|Apr 06 22:20:00 2009|
|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |     null|Apr 06 22:20:03 2009|
|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|     null|Apr 06 22:20:03 2009|
|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|     null|Apr 06 22:20:05 2009|
|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|     null|Apr 06 22:20:09 2009|
|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|     null|Apr 06 22:20:16 2009|
|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|     null|Apr 06 22:20:17 2009|
|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|     null|Apr 06 22:20:19 2009|
|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|     null|Apr 06 22:20:19 2009|
|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|     null|Apr 06 22:20:20 2009|
|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|     null|Apr 06 22:20:20 2009|
|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|     null|Apr 06 22:20:22 2009|
|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |     null|Apr 06 22:20:25 2009|
|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|     null|Apr 06 22:20:31 2009|
|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|     null|Apr 06 22:20:34 2009|
+----------+--------------------+--------+---------------+--------------------+---------+--------------------+
only showing top 20 rows

In [28]:
df = df.withColumn("timestamp2", to_timestamp(df["new_date"], "yyyy-MM-dd HH:mm:ss"))
# Show the DataFrame
df.show()

+----------+--------------------+--------+---------------+--------------------+---------+--------------------+----------+
|        id|                date|    flag|           user|                text|timestamp|            new_date|timestamp2|
+----------+--------------------+--------+---------------+--------------------+---------+--------------------+----------+
|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|     null|Apr 06 22:19:45 2009|      null|
|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|     null|Apr 06 22:19:49 2009|      null|
|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|     null|Apr 06 22:19:53 2009|      null|
|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|     null|Apr 06 22:19:57 2009|      null|
|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|     null|Apr 06 22:19:57 2009|      null|
|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|     null|Apr 06 22:20:00 2009|      null|
|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |     null|Apr 06 22:20:03 2009|      null|
|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|     null|Apr 06 22:20:03 2009|      null|
|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|     null|Apr 06 22:20:05 2009|      null|
|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|     null|Apr 06 22:20:09 2009|      null|
|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|     null|Apr 06 22:20:16 2009|      null|
|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|     null|Apr 06 22:20:17 2009|      null|
|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|     null|Apr 06 22:20:19 2009|      null|
|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|     null|Apr 06 22:20:19 2009|      null|
|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|     null|Apr 06 22:20:20 2009|      null|
|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|     null|Apr 06 22:20:20 2009|      null|
|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|     null|Apr 06 22:20:22 2009|      null|
|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |     null|Apr 06 22:20:25 2009|      null|
|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|     null|Apr 06 22:20:31 2009|      null|
|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|     null|Apr 06 22:20:34 2009|      null|
+----------+--------------------+--------+---------------+--------------------+---------+--------------------+----------+
only showing top 20 rows

In [29]:
# Use the to_timestamp function to convert the date_string to a timestamp
df = df.withColumn("timestamp3", to_timestamp(df["new_date"], "MMM dd HH:mm:ss yyyy"))

# Use the date_format function to format the timestamp as desired
df = df.withColumn("formatted_date", date_format(df["timestamp3"], "yyyy MM dd HH:mm:ss"))

# Show the DataFrame
df.show()

+----------+--------------------+--------+---------------+--------------------+---------+--------------------+----------+-------------------+-------------------+
|        id|                date|    flag|           user|                text|timestamp|            new_date|timestamp2|         timestamp3|     formatted_date|
+----------+--------------------+--------+---------------+--------------------+---------+--------------------+----------+-------------------+-------------------+
|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|     null|Apr 06 22:19:45 2009|      null|2009-04-06 22:19:45|2009-04-06 22:19:45|
|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|     null|Apr 06 22:19:49 2009|      null|2009-04-06 22:19:49|2009-04-06 22:19:49|
|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|     null|Apr 06 22:19:53 2009|      null|2009-04-06 22:19:53|2009-04-06 22:19:53|
|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|     null|Apr 06 22:19:57 2009|      null|2009-04-06 22:19:57|2009-04-06 22:19:57|
|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|     null|Apr 06 22:19:57 2009|      null|2009-04-06 22:19:57|2009-04-06 22:19:57|
|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|     null|Apr 06 22:20:00 2009|      null|2009-04-06 22:20:00|2009-04-06 22:20:00|
|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |     null|Apr 06 22:20:03 2009|      null|2009-04-06 22:20:03|2009-04-06 22:20:03|
|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|     null|Apr 06 22:20:03 2009|      null|2009-04-06 22:20:03|2009-04-06 22:20:03|
|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|     null|Apr 06 22:20:05 2009|      null|2009-04-06 22:20:05|2009-04-06 22:20:05|
|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|     null|Apr 06 22:20:09 2009|      null|2009-04-06 22:20:09|2009-04-06 22:20:09|
|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|     null|Apr 06 22:20:16 2009|      null|2009-04-06 22:20:16|2009-04-06 22:20:16|
|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|     null|Apr 06 22:20:17 2009|      null|2009-04-06 22:20:17|2009-04-06 22:20:17|
|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|     null|Apr 06 22:20:19 2009|      null|2009-04-06 22:20:19|2009-04-06 22:20:19|
|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|     null|Apr 06 22:20:19 2009|      null|2009-04-06 22:20:19|2009-04-06 22:20:19|
|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|     null|Apr 06 22:20:20 2009|      null|2009-04-06 22:20:20|2009-04-06 22:20:20|
|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|     null|Apr 06 22:20:20 2009|      null|2009-04-06 22:20:20|2009-04-06 22:20:20|
|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|     null|Apr 06 22:20:22 2009|      null|2009-04-06 22:20:22|2009-04-06 22:20:22|
|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |     null|Apr 06 22:20:25 2009|      null|2009-04-06 22:20:25|2009-04-06 22:20:25|
|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|     null|Apr 06 22:20:31 2009|      null|2009-04-06 22:20:31|2009-04-06 22:20:31|
|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|     null|Apr 06 22:20:34 2009|      null|2009-04-06 22:20:34|2009-04-06 22:20:34|
+----------+--------------------+--------+---------------+--------------------+---------+--------------------+----------+-------------------+-------------------+
only showing top 20 rows

In [32]:
df.columns

['id',
 'date',
 'flag',
 'user',
 'text',
 'timestamp',
 'new_date',
 'timestamp2',
 'timestamp3',
 'formatted_date']

In [33]:
df=df[['id',
 'formatted_date',
 'flag',
 'user',
 'text']]
df.show()

+----------+-------------------+--------+---------------+--------------------+
|        id|     formatted_date|    flag|           user|                text|
+----------+-------------------+--------+---------------+--------------------+
|1467810369|2009-04-06 22:19:45|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|1467810672|2009-04-06 22:19:49|NO_QUERY|  scotthamilton|is upset that he ...|
|1467810917|2009-04-06 22:19:53|NO_QUERY|       mattycus|@Kenichan I dived...|
|1467811184|2009-04-06 22:19:57|NO_QUERY|        ElleCTF|my whole body fee...|
|1467811193|2009-04-06 22:19:57|NO_QUERY|         Karoli|@nationwideclass ...|
|1467811372|2009-04-06 22:20:00|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|1467811592|2009-04-06 22:20:03|NO_QUERY|        mybirch|         Need a hug |
|1467811594|2009-04-06 22:20:03|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|1467811795|2009-04-06 22:20:05|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|1467812025|2009-04-06 22:20:09|NO_QUERY|        mimismo|@twittera que me ...|
|1467812416|2009-04-06 22:20:16|NO_QUERY| erinx3leannexo|spring break in p...|
|1467812579|2009-04-06 22:20:17|NO_QUERY|   pardonlauren|I just re-pierced...|
|1467812723|2009-04-06 22:20:19|NO_QUERY|           TLeC|@caregiving I cou...|
|1467812771|2009-04-06 22:20:19|NO_QUERY|robrobbierobert|@octolinz16 It it...|
|1467812784|2009-04-06 22:20:20|NO_QUERY|    bayofwolves|@smarrison i woul...|
|1467812799|2009-04-06 22:20:20|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|
|1467812964|2009-04-06 22:20:22|NO_QUERY| lovesongwriter|Hollis' death sce...|
|1467813137|2009-04-06 22:20:25|NO_QUERY|       armotley|about to file taxes |
|1467813579|2009-04-06 22:20:31|NO_QUERY|     starkissed|@LettyA ahh ive a...|
|1467813782|2009-04-06 22:20:34|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|
+----------+-------------------+--------+---------------+--------------------+
only showing top 20 rows